.title{
    font-size: 2rem;
    font-family: system-ui;
    font-weight: bold;
    width: 100%;
    height: 13%;
    text-align: center;
    align-content: center;
    color: rgb(175, 175, 175);
}

.dashboard_button_content{
    position: absolute;
    top: 6%;
    right: 5%;
    width: 15%;
}

.dashboard_button{
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5);
    color: rgb(74, 120, 255);
}

#interactive {
            width: 100%;
            max-width: 640px;
            height: 480px;
            margin: 0 auto;
            border: 1px solid #000;
        }
