.content{
    width: 100vw;
    height: 89vh;
}

.detail{
    height: 100%;
    padding: 5%;
}

.top{
    font-size: 2rem;
    font-family: system-ui;
    font-weight: bold;
    width: 100%;
    text-align: center;
    color: rgb(175, 175, 175);
}

.title{
    font-size: 1.7rem;
    font-family: system-ui;
    font-weight: bold;
    width: 100%;
    margin-top: 3%;
    text-align: center;
}

.shop_edit_a{
    text-decoration: none;
    padding: 1% 2rem;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5);
    color: rgb(33, 89, 255);
}

.reservation_list_a{
    text-decoration: none;
    padding: 1% 3rem;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5);
    color: rgb(33, 89, 255);
}

.shop_create_a{
    text-decoration: none;
    padding: 1% 3rem;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5);
    color: rgb(33, 89, 255);
}

.button_main{
    text-align: center;
    align-content: center;
    height: 15%;
}

.qr_scan{
    text-decoration: none;
    padding: 1% 1rem;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5);
    color: rgb(33, 89, 255);
}

.success_message{
    text-align: center;
}
