.header_main {
    background: rgb(248, 248, 248);
    width: 100%;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
}

.header-utilities {
    display: flex;
    align-items: center;
    margin-left: 5%;
}

.hamburger{
    margin: 0;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: rgb(33, 89, 255);
    border-radius: 5px;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5);
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40px;
    height: 30px;
}

.line1{
    width: 50%;
    height: 1px;
    background-color: white;
    margin-top: 3px;
}

.line2{
    width: 100%;
    height: 1px;
    background-color: white;
}

.line3{
    width: 25%;
    height: 1px;
    background-color: white;
    margin-bottom: 3px;
}

.header__logo {
    color: rgb(33, 89, 255);
    text-decoration: none;
    font-weight: bolder;
    font-size: 33px;
    font-family: system-ui;
    margin-left: 2%;
}

.header-utilities nav {
    width: 18%;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav__link {
    color: #fff;
    text-decoration: none;
}

.header-nav__button {
    border: none;
    background: transparent;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.nav {
    display: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.nav.active {
    display: flex;
    position: absolute;
    background-color: rgb(248, 248, 248);
    width: 96vw;
    height: 100vh;
}

.nav_ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    margin-top: 20%;
}

.nav_list {
    font-family: system-ui;
    margin: 1%;
}

.nav_a {
    color: #000;
    text-decoration: none;
    font-size: 33px;
    color: rgb(33, 89, 255);
}

main.dimmed {
            display: none;
            pointer-events: none;
        }

.nav_button{
    border: none;
    background-color: unset;
    font-size: 30px;
    color: rgb(33, 89, 255);
}

.header__logo.hidden {
    display: none;
}

.hamburger-menu.open .line1 {
    width: 100%;
    transform: rotate(45deg) translate(7px, 6px);
}

.hamburger-menu.open .line2 {
    opacity: 0;
}

.hamburger-menu.open .line3 {
    width: 100%;
    transform: rotate(-45deg) translate(5px, -5px);
}
