.container{
    width: 100vw;
    height: 89vh;
    top: 11vh;
}

.reserve_main{
    text-align: center;
    height: 10%;
    align-content: center;
    font-size: 1.5rem;
    font-family: system-ui;
    font-weight: bold;
}

.reserve_form{
    text-align: center;
    height: 70%;
    align-items: center;
    line-height: 5;
    margin-top: 5%;
    margin: 5% 20%;
}

.input{
    width: 60%;
    padding: 1%;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5);
    background-color: aliceblue;
}

.form_group{
    height: 30%;
}

.form_control2{
    padding: 1%;
    width: 60%;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5);
    background-color: aliceblue;
}

.input3{
    width: 60%;
    padding: 1%;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5);
    background-color: aliceblue;
}

.btn-primary{
    width: 17%;
    padding: 1%;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5);
    background-color: rgb(254, 255, 255);
    margin: 5% 23%;
}

.error_message{
    height: 20%;
}
