.shop_list{
    display: flex;
    flex-wrap: wrap;
    margin: 2% 5%;
}

.shop_item{
    box-sizing: border-box;
    border: 1px solid #ddd;
    height: 30%;
    width: 22%;
    margin: 10px 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
}

img{
    height: 30%;
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.shop_detail{
    padding-top: 5%;
    padding-left: 5%;
}

.shop_content{
    display: flex;
}
