.search_container {
    position: relative;
    display: flex;
    align-items: center;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    position: absolute;
    right: 10%;
    top: 3%;
}

    .custom_select {
        position: relative;
        width: 150px; /* 必要に応じて調整 */
    }

.search_input {
    border: none;
    background: none;
    font-size: 14px;
    padding: 5px 50px 5px 0;
    color: #333;
    appearance: none;
}

.search_select{
    border: none;
    background: none;
    font-size: 14px;
    padding: 5px 10px;
    color: #666666;
    appearance: none;
}

.search_select2{
    border: none;
    background: none;
    font-size: 14px;
    padding-left: 15px;
    color: #666666;
    appearance: none;
}

.search1{
    margin-right: 15px;
}

.search2{
    margin-right: 15px;
    border-left: 1px solid #ccc;
}

.search3{
    border-left: 1px solid #ccc;
    padding-left: 10px;
    padding-right: 100px;
}

.search_select:focus, .search_input:focus {
    outline: none;
}

.placeholder {
    color: #666666;
}

.search_input::placeholder {
    color: #666666;
}

.search_input {
    padding-left: 20px;
    flex: 1;
}


.shop_list{
    display: flex;
    flex-wrap: wrap;
    padding: 2% 5%;
    width: 100vw;
}

.shop_item{
    box-sizing: border-box;
    border: 1px solid #ddd;
    height: 25%;
    width: 22%;
    margin: 10px 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
    padding-bottom: 1%;
}

@media screen and (max-width: 1024px) {
    .shop_item {
        width: 30%;
    }
}

@media screen and (max-width: 768px) {
    .shop_item {
        width: 44%;
    }
}

@media screen and (max-width: 480px) {
    .shop_item {
        width: 93%;
    }
}

.shop_img{
    height: 20vh;
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.shop_detail{
    padding-left: 5%;
}

.shop_name{
    font-weight: bold;
    font-size: 1.1rem;
    padding-top: 4%;
}

.shop_prefecture_genre{
    display: flex;
    line-height: 0%;
}

.shop_prefecture{
    display: flex;
}

.shop_genre{
    display: flex;
    padding-left: 2%;
}

.shop_primary_favorite{
    display: flex;
    align-items: stretch;
    width: 95%;
}

.shop_primary,.shop_favorite{
    flex: 1;
}

.btn-primary{
    padding: 4% 7%;
    color: #ffffff;
    background-color: rgb(33, 89, 255);
    text-decoration: none;
    border-radius: 8px;

}
.shop_form{
    display: flex;
}

.submit{
    color: red;
    background: none;
    border: none;
}

.submit2{
    background: none;
    border: none;
}

.submit3{
    background: none;
    border: none;
    color: #a9a9a9;
}
