.shop_list{
    display: flex;
    flex-wrap: wrap;
}

.shop_item{
    box-sizing: border-box;
    border: 1px solid #ddd;
    margin: 10px 10px;
    border-radius: 5px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 1);
}

img{
    height: 300px;
    width: 100%;
}

.shop_detail{
    padding-top: 5%;
    padding-left: 5%;
}

.shop_content{
    display: flex;
}
