.login_content{
    background-color: rgb(248, 248, 248);
    height: 92vh;
    position: absolute;
    width: 100%;
}

.login_detail{
    position: relative;
    width: 30vw;
    height: 32vh;
    background-color: white;
    margin: 8% 35% 1%;
    line-height: 3.8;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5);
}

.login_form{
    position: relative;
    width: 100%;
    height: 100%;
}

.login_form_heading{
    border-radius: 10px;
}

.login_title{
    align-content: center;
    padding-left: 5%;
    height: 100%;
    background-color: rgb(33, 89, 255);
    color: white;
    font-size: 16px;
}

.form_group_content{
    padding: 1% 0 0 5%;
}

.form_group_content2{
    padding-left: 6%;
}

.email_input{
    width: 80%;
    margin-left: 2%;
    border: none;
    border-bottom: 1px solid;
}

.password_input{
    width: 81%;
    margin-left: 2%;
    border: none;
    border-bottom: 1px solid;
}

.form_button_submit{
    position: absolute;
    bottom: 9%;
    right: 9%;
    padding: 1% 3%;
    border: none;
    border-radius: 10%;
    background-color: rgb(33, 89, 255);
    color: white;
}

.form_error{
    text-align: center;
    color: red;
}

@media screen and (max-width: 1024px) {
    .login_detail {
        width: 40%;
        margin: 8% 30%;
    }
}

@media screen and (max-width: 768px) {
    .login_detail {
        width: 50%;
        margin: 8% 25%;
    }
}

@media screen and (max-width: 480px) {
    .login_detail {
        width: 60%;
        margin: 8% 20%;
    }
}

@media screen and (max-height: 700px) {
    .login_detail {
        height: 40%;
        margin: 8% 25%;
    }
}

@media screen and (max-height: 600px) {
    .login_detail {
        height: 50%;
        margin: 8% 25%;
    }
}

@media screen and (max-height: 500px) {
    .login_detail {
        height: 60%;
        margin: 8% 25%;
    }
}
