

.mypage_top{
    display: flex;
    flex-wrap: wrap;
    padding: 2% 5%;
    width: 100vw;
    height: 89vh;
    background: rgb(248, 248, 248);
}

.user_name{
    width: 100%;
    height: 5%;
    text-align: center;
    font-family: system-ui;
    font-weight: bold;
    font-size: 25px;
}

.message{
    margin: 0;

}

.user_mypage_ul{
    display: flex;
    padding-left: 0;
}

.user_mypage_item{
    box-sizing: border-box;
    border: 1px solid #ddd;
    height: 25%;
    width: 22%;
    margin: 10px 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
    padding-bottom: 1%;
}

@media screen and (max-width: 1024px) {
    .user_mypage_item {
        width: 30%;
    }
}

@media screen and (max-width: 768px) {
    .user_mypage_item {
        width: 44%;
    }
}

@media screen and (max-width: 480px) {
    .user_mypage_item {
        width: 93%;
    }
}

.user_mypage{
    display: flex;
    width: 100%;
    height: 74vh;
    margin-top: 5vh;
    text-align: center;
}

.user_mypage_main{
    align-content: center;
    font-family: system-ui;
    font-weight: bold;
    font-size: 20px;
    padding-left: 5%;
    text-align: left;
    height: 10%;
}

.user_mypage_main2{
    width: 100%;
    font-family: system-ui;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    padding-left: 2%;
    height: 6%;
}

.user_reservation{
    height: 95%;
    width: 50%;

}

.reservation_list{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(33, 89, 255);
    color: #ffffff;
    align-items: center;
    width: 85%;
}

/* .reservation_id_table{
    display: flex;
    align-items: center;
    margin-left: 2%;
} */

.reservation_id_table {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding-left: 3%;
    width: 100%;
}

.table_main{
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
    margin: 2% 25% 0 5%;
    background-color: rgb(33, 89, 255);
    color: #ffffff;
    height: 45%;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5);
}

.reserve_name{
    width: 100%;
}

/* .reserve_table{
    display: flex;
    width: 100%;
    height: 80%;
    align-content: space-between;
} */

.reserve_table {
    display: table;
    width: 100%;
    border-collapse: separate; /* 既定値: 隙間ができる */
    border-spacing: 0; /* テーブルセル間の隙間をリセット */
}

.reserve_tr {
    padding: 10px 0; /* 各行の上下パディングを追加 */
    margin: 10px 0; /* 各行の上下マージンを追加 */
}

.reserve_label, .reserve_value {
    padding: 1%; /* セル内のパディングを調整 */
}

.reservation_id{
    padding-left: 20px;
}

.reserve_label {
    text-align: left; /* 左寄せに調整 */
}

.reserve_value {
    text-align: left;
}

.p_button{
    padding-left: 40%;
}

.delete-btn {
    background-color: rgb(33, 89, 255);
    border-color: #ffffff;
    color: #ffffff;
    border-radius: 50%;
    font-size: 13px;
    cursor: pointer;
    padding: 0  3px;
}

.delete-btn i {
    pointer-events: none;
}


.reserve_id{
    width: 80%;
}

.user_favorite{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 54%;
    /* position: absolute;
    right: 6%;
    top: 34%; */
}

.user_mypage_item{
    width: 40%;
    margin: 0 45px 0 0;
    margin-left: 2%;
}

.user_mypage_img{
    height: 20vh;
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.user_mypage_detail{
    padding-left: 5%;
}

.user_mypage_name{
    font-weight: bold;
    font-size: 1.1rem;
    padding-top: 4%;
    text-align: left;
}

.user_mypage_prefecture_genre{
    display: flex;
    line-height: 0%;
}

.user_mypage_prefecture{
    display: flex;
}

.user_mypage_genre{
    display: flex;
    padding-left: 2%;
}

.user_mypage_primary_favorite{
    display: flex;
    align-items: stretch;
    width: 95%;
}

.user_mypage_primary,.user_mypage_favorite{
    flex: 1;
    text-align: left;
}

.btn-primary{
    padding: 4% 7%;
    color: #ffffff;
    background-color: rgb(33, 89, 255);
    text-decoration: none;
    border-radius: 8px;

}
.user_mypage_form{
    display: flex;
}

.submit{
    color: red;
    background: none;
    border: none;
}

.submit2{
    background: none;
    border: none;
}
