.qr_title{
    height: 10vh;
    font-size: large;
    text-align: center;
    align-content: center;
}

.qr_code{
    height: 50vh;
    text-align: center;
    align-content: center;
}

.return_my_page{
    position: absolute;
    top: 3%;
    right: 10%;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5);
    background-color: white;
}
