.evaluation{
    min-width: 100vh;
    min-height: 100vh;
    margin-top: -2%;
    background: rgb(241, 241, 241);
}

.evaluation_inner{
    display: flex;
    width: 100%;
    height: 80vh;
}

.evaluation_shop{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5%;
    width: 40%;
    height: 70vh;
    align-items: center;
}

.evaluation_shop_inner{
    border-right: 1px solid #a9a9a9;
}

.evaluation_shop_title{
    width: 60%;
    margin: 0 43px 0;
}

.shop_list{
    padding: 2% 5%;
    width: 80%;
}

.shop_content{
    box-sizing: border-box;
    border: 1px solid #ddd;
    margin: 10px 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5);
    padding-bottom: 1%;
}

.evaluation_section{
    width: 60%;
    height: 70vh;
    margin: 5% 5% 0;
}

.section_title{
    width: 100%;
    height: 8%;
    align-content: center;
    font-size: 1.2rem;
}

.evaluation_section_inner{
    width: 100%;
    height: 95%;
}

.evaluation_form{
    width: 100%;
    height: 100%;
}

.form_star{
    height: 13%;
}

.star {
    font-size: 2rem; /* 星の大きさ */
    cursor: pointer; /* カーソルをポインターに変更 */
    color: #dbdbdb; /* 空の星の色 */
    transition: color 0.2s;
}

.star.filled {
    color: rgb(0, 51, 255); /* 塗りつぶされた星の色 */
}

.star:hover {
    color: rgb(0, 60, 255); /* ホバー時の色 */
}

.form_comment{
    width: 100%;
    height: 40%;
}

.form_comment_title{
    width: 100%;
    height: 20%;
    font-size: 1.2rem;
}

#comment{
    width: 100%;
    height: 80%;
    border-color: #c8c8c8;
    background: rgb(241, 241, 241);
    padding: 1%;
}

.character-count {
    font-size: 0.9em;
    text-align: end;
}


.form_img{
    width: 100%;
    height: 44%;
    margin-top: 5%;
}

.form_img input[type="file"] {
        display: none; /* ファイルインプットを非表示に */
    }

.form_img_title{
    width: 100%;
    height: 13%;
    align-content: center;
}

.form_img_label {
        display: inline-block;
        width: 100%;
        height: 20vh;
        background: white;
        text-align: center;
        line-height: 25px;
        cursor: pointer; /* カーソルをポインターに */
        border-radius: 5px; /* 角丸 */
        align-content: center;
    }

/* @media screen and (max-width: 1024px) {
    .shop_content {
        width: 30%;
    }
}

@media screen and (max-width: 768px) {
    .shop_content {
        width: 44%;
    }
    .shop_list{
        padding: 9% 5% 0;
    }
}

@media screen and (max-width: 480px) {
    .shop_content {
        width: 93%;
    }
    .shop_list{
        padding: 15% 5% 0;
    }
} */

.shop_img{
    height: 20vh;
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.shop_detail{
    padding-left: 5%;
    background: #ffffff;
}

.shop_name{
    font-weight: bold;
    font-size: 1.1rem;
    padding-top: 4%;
}

.shop_prefecture_genre{
    display: flex;
    line-height: 0%;
}

.shop_prefecture{
    display: flex;
}

.shop_genre{
    display: flex;
    padding-left: 2%;
}

.shop_form{
    display: flex;
    align-items: stretch;
    width: 95%;
}

.shop_primary,.shop_favorite{
    flex: 1;
}

.detail_button{
    padding: 4% 7%;
    color: #ffffff;
    background-color: rgb(33, 89, 255);
    text-decoration: none;
    border-radius: 8px;

}
.shop_favorite_button{
    display: flex;
}

.fas.fa-heart{
    color: red;
    background: none;
    border: none;
    font-size: 24px;
}

.far.fa-heart{
    color: #c7c7c7;
    background: none;
    border: none;
    font-size: 24px;
}

.submit_favorite{
    color: red;
    background: none;
    border: none;
}

.submit_not_favorite{
    background: none;
    border: none;
}

.submit_shop_name{
    background: none;
    border: none;
    color: #a9a9a9;
}

.evaluation_button{
    width: 100%;
    height: 8vh;
    align-content: center;
    text-align: center;
    margin-top: 2%;
}

.evaluation_button_inner_submit{
    width: 30%;
    height: 6vh;
    border-radius: 50px;
    border: none;
    background: #ffffff;
}
