.evaluation_page {
    margin: 20px;
}
.shop_header {
    display: flex;
    align-items: center;
    gap: 20px;
}
.evaluations_list {
    margin-top: 20px;
}
.evaluation_item {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}
.star {
    color: gray;
}
.star.filled {
    color: gold;
}
.evaluation_comment {
    margin-top: 5px;
}
.evaluation_image {
    max-width: 100px;
    margin-top: 10px;
}
.shop_back_btn{
    position: absolute;
    top: 5%;
    right: 13%;
    width: 8%;
    text-align: center;
    padding: 3px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.shop_back_btn_link{
    text-decoration: none;
    padding: 1% 3%;
}
